<section class="mb-4">
  <owl-carousel-o [options]="mainSliderOptions">
    <ng-template carouselSlide>
      <img src="images/web_sliders-01_2000x550.jpg" class="w-full" alt="" />
    </ng-template>
    <ng-template carouselSlide>
      <img src="images/web_sliders-02_2000x550.jpg" class="w-full" alt="" />
    </ng-template>
    <ng-template carouselSlide>
      <img src="images/web_sliders-04_2000x550.jpg" class="w-full" alt="" />
    </ng-template>
    <ng-template carouselSlide>
      <img src="images/web_sliders-05_2000x550.jpg" class="w-full" alt="" />
    </ng-template>
  </owl-carousel-o>
</section>
