<section>
  <swiper-container
    loop="true"
    autoplay="true"
    class="mySwiper"
    pagination="true"
    pagination-clickable="true"
    free-mode="true"
    speed="500"
  >
    <swiper-slide>
      <div
        class="slider img-1 capitalize font-medium md:text-xl text-sm text-gray-100 flex items-center"
      >
        <div class="md:w-1/2 mx-8">
          <div>
            <h2 class="py-6">cables & wires</h2>

            <h3 class="text-red-500 font-bold md:text-3xl text-xl">
              Stay Connected with Confidence
            </h3>
            <p class="py-1 mb-4">quality cables and wires for uninterrupted power.</p>

            <button class="btn mt-6">
              <a routerLink="/electrical-foundation">shop now</a>
            </button>
          </div>
        </div>
      </div>
    </swiper-slide>

    <swiper-slide>
      <div
        class="slider img-1 capitalize font-medium md:text-xl text-sm text-gray-100 flex items-center"
      >
        <div class="md:w-1/2 mx-8">
          <div>
            <h2 class="py-6">lighting</h2>

            <h3 class="text-red-500 font-bold text-xl md:text-3xl">light up your space</h3>
            <p class="py-1 mb-4">discover stylish lamps for every corner of your home</p>

            <button class="btn mt-6">
              <a routerLink="/electrical-foundation">shop now</a>
            </button>
          </div>
        </div>
      </div>
    </swiper-slide>

    <swiper-slide>
      <div
        class="slider img-1 capitalize font-medium md:text-xl text-sm text-gray-100 flex items-center"
      >
        <div class="md:w-1/2 mx-8">
          <div>
            <h2 class="py-6">wiring devices</h2>

            <h3 class="text-red-500 font-bold text-xl md:text-3xl">
              Seamless Connections Effortless Style
            </h3>
            <p class="py-1 mb-4">Elevate Your Space with Premium Wiring Devices.</p>

            <button class="btn mt-6">
              <a routerLink="/electrical-foundation">shop now</a>
            </button>
          </div>
        </div>
      </div>
    </swiper-slide>
  </swiper-container>
</section>
