<section class="my-5">
  <div class="container">
    <div class="main-title text-center capitalize py-4">
      <h1 class="text-2xl">Checkout</h1>
      <p class="text-red-400">Complete your purchase</p>
    </div>
    <div class="grid sm:grid-cols-2">
      <div class="mt-5 border border-gray-100 p-8">
        <div class="flex justify-between items-center">
          <h2 class="text-red-500 py-1">Contact Information</h2>
          <p class="py-1 text-center">
            Already have an account?
            <a routerLink="/login" class="text-red-600 underline cursor-pointer">Login</a>
          </p>
        </div>

        <form [formGroup]="checkoutForm" class="main-form">
          <app-input
            [element]="'input'"
            [control]="checkoutForm.get('contactEmail')"
            [inputId]="'contactEmail'"
            [placeholder]="'Enter your Email'"
            [label]="''"
          >
            Email must end with a valid domain (e.g., .com, .net, .org)
          </app-input>
        </form>
        <h2 class="text-red-500 py-2">Shipping Address</h2>
        <form [formGroup]="checkoutForm" class="main-form">
          <app-input
            [element]="'input'"
            [control]="checkoutForm.get('fullName')"
            [inputId]="'fullName'"
            [inputType]="'text'"
            [placeholder]="'Enter your Full Name'"
            [label]="'Full Name'"
          ></app-input>
          <app-input
            [element]="'textarea'"
            [control]="checkoutForm.get('streetAddress')"
            [inputId]="'address'"
            [placeholder]="'Enter your Address Details...'"
            [label]="'Delivery Address'"
          >
          </app-input>
          <app-input
            [element]="'input'"
            [control]="checkoutForm.get('phone')"
            [inputId]="'phone'"
            [inputType]="'tel'"
            [placeholder]="'Enter your Phone Number'"
            [label]="'Phone Number'"
          >
            Invalid phone number format. Accepts local or international (e.g., +201001234567 or
            01012345678)
          </app-input>
          <app-input
            [element]="'input'"
            [control]="checkoutForm.get('country')"
            [inputId]="'country'"
            [inputType]="'text'"
            [placeholder]="'Country...'"
            [label]="'Country'"
          ></app-input>
          <app-input
            [element]="'input'"
            [control]="checkoutForm.get('city')"
            [inputId]="'city'"
            [inputType]="'text'"
            [placeholder]="'City...'"
            [label]="'City'"
          ></app-input>
          <div class="flex justify-between items-center space-x-2">
            <app-input
              [element]="'input'"
              [control]="checkoutForm.get('governorate')"
              [inputId]="'governorate'"
              [inputType]="'text'"
              [placeholder]="'Governorate...'"
              [label]="'Governorate'"
            ></app-input>
            <app-input
              [element]="'input'"
              [control]="checkoutForm.get('building')"
              [inputId]="'building'"
              [inputType]="'text'"
              [placeholder]="'Optional'"
              [label]="'Building Info'"
            ></app-input>
            <app-input
              [element]="'input'"
              [control]="checkoutForm.get('postalCode')"
              [inputId]="'postalCode'"
              [inputType]="'text'"
              [placeholder]="'Optional'"
              [label]="'Postal Code'"
            ></app-input>
          </div>

          <app-input
            [element]="'textarea'"
            [control]="checkoutForm.get('notes')"
            [inputId]="'notes'"
            [placeholder]="'Enter any Additional Notes (Optional)'"
            [label]="'Notes'"
          ></app-input>
          <div class="flex justify-end">
            <button type="submit" class="btn block uppercase" (click)="submit()">
              place order
            </button>
          </div>
        </form>
      </div>

      <div class="mt-5 p-8">
        <h2 class="text-lg text-center">Your Order</h2>
        <app-cart></app-cart>
      </div>
    </div>
  </div>
</section>
