<section class="my-5">
  <div
    class="container max-w-xl bg-gray-100 mx-auto mt-5 border border-gray-200 p-6 shadow-md rounded-md"
  >
    <div class="main-title text-center capitalize py-4">
      <h2 class="text-2xl text-gray-900 font-medium">Create an account</h2>
      <p class="text-red-400">Sign up to get started</p>
    </div>
    <form [formGroup]="registerForm" (ngSubmit)="submit()" class="main-form">
      <app-input
        [control]="registerForm.get('username')"
        [inputType]="'text'"
        [inputId]="'username'"
        [placeholder]="'your username'"
        [label]="'Your Name'"
      >
      </app-input>

      <app-input
        [control]="registerForm.get('email')"
        [inputType]="'email'"
        [inputId]="'email'"
        [placeholder]="'username@gmail.com'"
        [label]="'Your Email'"
      >
        Email must end with a valid domain (e.g., .com, .net, .org)
      </app-input>

      <app-input
        [control]="registerForm.get('phone')"
        [inputType]="'tel'"
        [inputId]="'phone'"
        [placeholder]="'your phone number'"
        [label]="'Your Phone'"
      >
        Invalid phone number format. Accepts local or international (e.g., +201001234567 or
        01012345678)
      </app-input>

      <app-input
        [control]="registerForm.get('password')"
        [inputId]="'password'"
        [placeholder]="'********'"
        [label]="'Your Password'"
      >
        Password must contain at least 1 lowercase letter, 1 uppercase letter, 1 number, and 1
        symbol
      </app-input>

      <app-input
        [control]="registerForm.get('rePassword')"
        [inputId]="'rePassword'"
        [placeholder]="'********'"
        [label]="'Repeat Password'"
      >
      </app-input>

      <button class="btn w-full mt-1">
        Sign Up @if(isLoading) {
        <span><i class="fas fa-spinner animate-spin"></i></span>
        }
      </button>

      <p class="py-1 text-center">
        Already have an account?
        <a routerLink="/login" class="text-red-600 hover:underline">Login</a>
      </p>

      @if(msgError()) {
      <div
        id="errorAlert"
        class="flex items-center p-2 mt-4 rounded-lg bg-gray-800 text-red-400 border-t-4 border-red-800"
        role="alert"
      >
        <span class="sr-only">Info</span>
        <div class="ms-3 text-sm font-medium">
          <p class="font-medium">{{ msgError() }}</p>
        </div>
      </div>
      } @else if(msgSuccess()) {
      <div
        id="successAlert"
        class="flex items-center p-2 mt-4 rounded-lg bg-gray-800 text-green-400 border-t-4 border-green-800"
        role="alert"
      >
        <span class="sr-only">Info</span>
        <div class="ms-3 text-sm font-medium">
          <p class="font-medium">{{ msgSuccess() }}</p>
        </div>
      </div>
      }
    </form>
  </div>
</section>
