<section class="capitalize py-5">
  <div class="container">
    <div class="main-title">
      <h2 class="text-xl text-red-600 font-semibold">shop by category</h2>
    </div>

    <swiper-container
      loop="true"
      autoplay="true"
      class="mySwiper"
      pagination="true"
      pagination-clickable="true"
      slides-per-view="4"
      space-between="5"
      free-mode="true"
      speed="500"
    >
      @for (category of categoriesList(); track category._id) {
      <swiper-slide>
        <div class="item hover:scale-105 transition-all duration-300 px-6 py-4">
          <a [routerLink]="['/', category.slug]">
            <img [src]="category.image" class="w-full rounded-full" [alt]="category.name" />

            <h3 class="text-sm font-semibold text-main-color text-center mt-2">
              {{ category.name }}
            </h3>
          </a>
        </div>
      </swiper-slide>
      }
    </swiper-container>
  </div>
</section>
