<section class="capitalize mx-auto">
  <div class="container">
    <div class="main-title">
      <h2 class="text-xl text-red-600 font-semibold p-2">our categories</h2>
      <p class="text-sm text-gray-600">lorem ipsum Lorem ipsum dolor sit amet.</p>
    </div>
    <owl-carousel-o [options]="categoryOptions">
      @for (category of categoriesList; track category._id) {
      <ng-template carouselSlide [id]="category._id">
        <div class="item hover:scale-105 transition-all duration-500 px-6 py-4">
          <a [routerLink]="['/', category.slug]">
            <img [src]="category.image" class="w-full rounded-full" [alt]="category.name" />

            <h3 class="text-sm font-semibold text-gray-800 text-center mt-2">
              {{ category.name }}
            </h3>
          </a>
        </div>
      </ng-template>
      }
    </owl-carousel-o>
  </div>
</section>
