<main>
  <section class="capitalize mx-auto">
    <div class="main-title text-center py-5">
      <h2 class="text-xl text-red-600 font-semibold p-2">top categories</h2>
      <p class="text-sm text-gray-600">top picks for you!"</p>
    </div>

    <div class="grid sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-6 gap-5 py-10">
      @for (category of categoriesList; track category._id) {
      <div class="card item hover:scale-105 transition-all duration-500">
        <div class="card-img">
          <div>
            <img
              [src]="category.image"
              class="w-full h-[200px] object-contain"
              [alt]="category.name"
            />
          </div>
        </div>
        <div class="card-body p-4 text-center">
          <h3 class="text-main-color text-sm font-semibold">
            {{ category.name }}
          </h3>
        </div>
      </div>

      }
    </div>
  </section>
</main>
