@import 'tailwindcss';
@import 'flowbite/src/themes/default';
@plugin "flowbite/plugin";
@source "../node_modules/flowbite";

@utility container {
  margin-inline: auto;
}

body {
  font-family: 'SUSE Mono', sans-serif;
}

p {
  font-family: 'Edu NSW ACT Foundation', cursive;
}

h1,
h2 {
  font-family: 'Young Serif', serif;
  letter-spacing: 1px;
}

/* You can add global styles to this file, and also import other style files */

.card {
  @apply bg-white  rounded-md overflow-hidden relative shadow-sm shadow-red-500;
}
