@import 'tailwindcss';
@import 'flowbite/src/themes/default';
@plugin "flowbite/plugin";
@source "../node_modules/flowbite";

@utility container {
  margin-inline: auto;
}

@layer components {
  .card {
    @apply bg-white border-b border-e border-gray-300 shadow-md  rounded-md overflow-hidden relative hover:scale-103 transition-all duration-300;
  }

  .btn {
    @apply  px-3 py-2 cursor-pointer bg-red-500 text-white font-medium  rounded hover:bg-red-600 transition-all duration-300  disabled:bg-gray-500 disabled:cursor-not-allowed;
  }
}

body {
  font-family: 'SUSE Mono', sans-serif;
}

p {
  font-family: 'Edu NSW ACT Foundation', cursive;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Young Serif', serif;
  letter-spacing: 0.05em;
}



