@import 'tailwindcss';
@import 'flowbite/src/themes/default';
@plugin "flowbite/plugin";
@source "../node_modules/flowbite";

@utility container {
  margin-inline: auto;
}

body {
  font-family: 'SUSE Mono', sans-serif;
}

p {
  font-family: 'Edu NSW ACT Foundation', cursive;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Young Serif', serif;
  line-height: 2.5rem;
  letter-spacing: 0.05em;
}

/* You can add global styles to this file, and also import other style files */

.card {
  @apply bg-white border-b border-e shadow-sm shadow-white border-gray-300  rounded-md overflow-hidden relative p-2;
}

.btn {
  @apply cursor-pointer bg-red-500 text-white font-medium  rounded hover:bg-red-600 transition duration-300 capitalize px-3 py-2;
}
