<section>
  <div class="p-4 capitalize bg-gray-100 text-gray-900 text-center">
    <div class="max-w-7xl mx-auto px-6 grid grid-cols-2 md:grid-cols-4 gap-6">
      <div class="p-6">
        <span class="text-4xl block mb-4">
          <i class="fa-solid fa-truck-fast"></i>
        </span>
        <p class="font-medium">Free Shipping</p>
      </div>
      <div class="p-6">
        <span class="text-4xl block mb-4">
          <i class="fa-solid fa-credit-card"></i>
        </span>
        <p class="font-medium">Online Payment</p>
      </div>
      <div class="p-6">
        <span class="text-4xl block mb-4">
          <i class="fa-solid fa-headset"></i>
        </span>
        <p class="font-medium">Customer Support</p>
      </div>
      <div class="p-6">
        <span class="text-4xl block mb-4">
          <i class="fa-solid fa-arrow-rotate-left"></i>
        </span>
        <p class="font-medium">Easy Returns</p>
      </div>
    </div>
  </div>
</section>
